body {
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.jt-svg-polygon {
  margin-left: 400px
}

.jumbotron svg {
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: 0px;
  margin-left: -200px;
}

#Polygon-1 , #Polygon-2 , #Polygon-3 , #Polygon-4 , #Polygon-4, #Polygon-5 {
  animation: float 1s infinite ease-in-out alternate;
}
#Polygon-1-fill-white , #Polygon-2-fill-white , #Polygon-3-fill-white , #Polygon-4-fill-white , #Polygon-4-fill-white, #Polygon-5-fill-white {
  animation: float 1s infinite ease-in-out alternate;
  fill: #fff;
}
#Polygon-1-fill-grey , #Polygon-2-fill-grey , #Polygon-3-fill-grey , #Polygon-4-fill-grey , #Polygon-4-fill-grey, #Polygon-5-fill-grey {
  animation: float 1s infinite ease-in-out alternate;
  fill: #e9ecef;
}
#Polygon-2 , #Polygon-2-fill-grey , #Polygon-2-fill-white {
  animation-delay: .2s;
}
#Polygon-3 , #Polygon-3-fill-grey , #Polygon-3-fill-white {
  animation-delay: .4s;
}
#Polygon-4 , #Polygon-4-fill-grey , #Polygon-4-fill-white {
  animation-delay: .6s;
}
#Polygon-5 , #Polygon-5-fill-grey , #Polygon-5-fill-white {
  animation-delay: .8s;
}

#Polygon-1:hover , #Polygon-1-fill-grey:hover , #Polygon-1-fill-white:hover {
  fill: #007FB2;
}
#Polygon-2:hover , #Polygon-2-fill-grey:hover , #Polygon-2-fill-white:hover {
  fill: #EF4A5B;
}
#Polygon-3:hover , #Polygon-3-fill-grey:hover , #Polygon-3-fill-white:hover {
  fill: #795D9C;
}
#Polygon-4:hover , #Polygon-4-fill-grey:hover , #Polygon-4-fill-white:hover {
  fill: #F2773F;
}
#Polygon-5:hover , #Polygon-5-fill-grey:hover , #Polygon-5-fill-white:hover {
  fill: #36B455;
}

@keyframes float {
	100% {
    transform: translateY(20px);
  }
}
@media (max-width: 450px) {
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -190px;
  }
  .message-box {
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -190px;
    text-align: center;
  }
}

.greet-card {
  background-clip: border-box;
}

.sign-display {
  column-gap: 10px;
}


.sch-timetable-show-btn {
  display: flex;
  flex-direction: row;
}

.t-wA-img .t-wB-img {
  width: 1000px;
  height: auto;
}

.enlarge-img:hover {
  cursor: pointer;
}

/*
.yk-app {
  background: url(images/yk.png);
} */

.rickrolled {
  width: 75%;
  margin-bottom: 15px;
}

.row-btn-group {
  display: flex;
  flex-direction: row;
  -ms-flex-direction: row;
  column-gap: 8px;
}

.row-btn {
  display: flex;
  flex-direction: row;
  -ms-flex-direction: row;
  padding-right: 20px;
}

.footer-ip-widget {
  max-width: 1140px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
