body {
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.sign-display {
  column-gap: 10px;
}

.sch-timetable-show-btn {
  display: flex;
  flex-direction: row;
}

.t-wA-img .t-wB-img {
  width: 1000px;
  height: auto;
}

.enlarge-img:hover {
  cursor: pointer;
}

.row-btn-group {
  display: flex;
  flex-direction: row;
  -ms-flex-direction: row;
  column-gap: 8px;
}

.row-btn {
  display: flex;
  flex-direction: row;
  -ms-flex-direction: row;
  padding-right: 20px;
}
