* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.force-anchor {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects
}

.force-anchor:hover {
  color: #0056b3;
  text-decoration: underline
}

.nav-header {
  height: 64px;
  background-color: #091921;
  z-index: 999;
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;

  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.nav-header-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav-logo-container {
  padding: 7px;
  align-items: left;

  display: flex;
  flex-direction: row;
}

.nav-header-logo {
  width: 50px;
  height: auto;
}

.nav-header-logo-text {
  width: 216px;
  height: auto;
  padding-left: 1px;
}

.nav-tools-container {
  margin-right: 10px;
  padding: 7px;
  column-gap: 4px;
  text-align: right;
  display: flex;
  flex-direction: row-reverse;
}

.nav_tools {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row; // cannot use `inherit` to get the `.navbar`s value
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-account {
  text-decoration: none;
  text-align: center;
  font-size: 24px;
}

.nav-login {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  column-gap: 6px;
  text-align: right;
  padding-right: 8px;
}

.nav-tools-login {
  margin-bottom: 0;
}

.img-banner {
  background: url(images/img-banner-px-citySunset.png) no-repeat !important;
  background-size: cover !important;
}

.button-gap {
  column-gap: 15px;
}

.back-to-top-button {
  position: fixed;
  width: 50px;
  height: 50px;
  background: #8e44ad;
  bottom: 40px;
  right: 50px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
}

.end-of-page {
  text-align: center;
}
